<style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
    body { background-color: #d5e1ef;}

    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    .white-box {
      width: 320px;
      height: 497px;
      background-color: white;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center

    }

    .qr-image {
      max-width: 90%;
      max-height: 90%;
      display: block;
      margin: auto;
      border-radius: 10px;
      
    }

  </style>