<style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
    body { background-color: #d5e1ef;}

    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    .white-box {
      width: 320px;
      height: 497px;
      background-color: white;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 5px;
      padding-top: 1.2rem;


    }

    .qr-image {
      max-width: 96%;
      max-height: 96%;
      display: flex;
      margin: auto;
      border-radius: 10px;
      
    }

    .text {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

  </style>